.custom-navbar {
  display: flex;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 2;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.custom-navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.custom-nav-item {
  display: inline-block;
}

.spacer {
  flex: 1 1 auto;
}

.b-margin {
  margin: 0 0.25rem;
}
