<div class="container">
  <mat-toolbar color="primary" class="filters">
    <mat-form-field appearance="fill" style="flex-grow: 1">
      <mat-label>Search</mat-label>
      <input
        matInput
        placeholder="Type to search"
        (keyup)="applyFilter($event)"
        #input
        type="search"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <form >
      <mat-form-field appearance="fill" style="flex-grow: 0">
        <mat-label>Currency</mat-label>
        <input
          type="text"
          matInput
          placeholder="Pick one"
          [formControl]="currencyForm"
          [matAutocomplete]="auto"
          aria-label="Currency"
        />
        <mat-icon matSuffix>expand_more</mat-icon>
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="displayReadableRate"
          (optionSelected)="getSelectedCurrency($event)"
        >
          <mat-option *ngFor="let rate of filteredRates | async" [value]="rate">
            {{ rate.id }} ({{ rate.symbol }})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-toolbar>
  <table mat-table matSort aria-label="Assets" class="w-100">
    <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
      <th
        class="table-header"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        scope="col"
      >
        {{ col.value }}
      </th>
      <ng-container *ngIf="col.key == 'changePercent24Hr'">
        <td mat-cell *matCellDef="let asset">
          <span [ngClass]="asset[col.key] > 0 ? 'green' : 'red'">
            {{ asset[col.key] | number: "1.1-2" }}
          </span>
        </td>
      </ng-container>
      <ng-container *ngIf="col.key == 'priceUsd'">
        <td mat-cell *matCellDef="let asset">
          {{ asset[col.key] | number: "1.1-2" }}
        </td>
      </ng-container>
      <ng-container *ngIf="col.key == 'symbol'">
        <td mat-cell *matCellDef="let asset">
          <img
            class="crypto-icons"
            [src]="asset.icon"
            (error)="onImgError($event)"
            alt="Crypto Icon"
          />
        </td>
      </ng-container>
      <ng-container>
        <td mat-cell *matCellDef="let asset">{{ asset[col.key] }}</td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50]"
  >
  </mat-paginator>
</div>
