<div class="login-container container">
  <mat-card>
    <mat-tab-group
      mat-align-tabs="center"
      mat-stretch-tabs
      dynamicHeight="true"
      (selectedTabChange)="tabChange($event)"
    >
      <mat-tab label="Log In">
        <mat-card-content>
          <div class="login-buttons">
            <button mat-flat-button (click)="googleLogIn()">
              <mat-icon svgIcon="google"></mat-icon>
              <span> Login with Google</span>
            </button>
          </div>
          <div class="or-container">
            <mat-divider inset="true"></mat-divider>
            <span class="or-text">Or</span>
            <mat-divider inset="true"> </mat-divider>
          </div>
          <ng-container *ngTemplateOutlet="form"></ng-container>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-stroked-button
            (click)="logIn()"
            (key.down)="logIn()"
            [disabled]="logInForm.invalid"
          >
            Login
          </button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab label="Register">
        <mat-card-content style="margin-top: 0.25rem !important">
          <ng-container *ngTemplateOutlet="form"></ng-container>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-stroked-button
            (click)="register()"
            (key.down)="register()"
            [disabled]="logInForm.invalid"
          >
            Register
          </button>
        </mat-card-actions>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>

<ng-template #form>
  <form [formGroup]="logInForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Enter your username"
        type="text"
        formControlName="username"
        required
        autocomplete="username"
      />
      <mat-error *ngIf="usernameInput?.hasError('email')"
        >Incorrect email</mat-error
      >
      <mat-error *ngIf="usernameInput?.hasError('required')"
        >Enter username</mat-error
      >
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Enter your password"
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        required
        autocomplete="current-password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="usernameInput?.hasError('min')"
        >Password is incorrect</mat-error
      >
      <mat-error *ngIf="usernameInput?.hasError('required')"
        >Enter password</mat-error
      >
    </mat-form-field>
  </form>
</ng-template>
