<mat-tab-group
  mat-align-tabs="start"
  color="primary"
  class="m-3"
  dynamicHeight="true"
>
  <mat-tab label="Profile">
    <mat-card class="my-1">
      <mat-card-header>
        <div mat-card-avatar>
          <ng-container *ngIf="user | async as userObj">
            <img
              *ngIf="userObj.photoURL; else defaultIcon"
              class="circle"
              [src]="userObj.photoURL"
              alt="User Image"
            />
          </ng-container>
          <ng-template #defaultIcon>
            <button
              mat-mini-fab
              aria-label="Example icon button with a face icon"
            >
              <mat-icon>face</mat-icon>
            </button>
          </ng-template>
        </div>
        <mat-card-title *ngIf="user | async as userObj">
          {{ userObj.displayName }}
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list aria-label="Skills" selectable="false">
            <mat-chip>Developer</mat-chip>
            <mat-chip>Java</mat-chip>
            <mat-chip>Angular</mat-chip>
            <mat-chip>TypeScript</mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> This is the expansion title </mat-panel-title>
              <mat-panel-description>
                This is a summary of the content
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Self aware panel </mat-panel-title>
              <mat-panel-description>
                Currently I am {{ panelOpenState ? "open" : "closed" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Activity"> </mat-tab>
</mat-tab-group>
